<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if IE 10 ]>    <html lang="en" class="ie"> <![endif]-->
<!--[if lt IE 11]> <html lang="en" class="ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="Email Validator" name="keywords">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Email Deshboard</title>
    <!-- Meta -->
    <meta content="Default Description" name="description">
    <meta content="email" name="author">
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/script.js"></script>
    <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
    <!-- custom scrollbar stylesheet -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
</head>

<body ng-controller="AccordionDemoCtrl" ng-app="myApp">
    <div class="sidebar">
        <div class="user-panel">
            <div class="user-pic"><img src="images/user-pic.png" class="img-responsive"></div>
            <div class="user-details">
                <h3>Werner Heisenberg</h3>
                <div class="linebar">
                    <div class="progress-bar-status"></div>
                </div>
                <p>Requests 51/200</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="sidebar-navigationbar">
            <ul class="nav-bar-side">
                <li class="active"><a href="#"><i class="deshb-ico"></i>Deshboard</a></li>
                <li><a href="#"><i class="search-ico"> </i>Search</a></li>
                <li><a href="#"><i class="bulk-ico"> </i>Bulk</a></li>
                <li><a href="#"><i class="group-ico"> </i>Groups</a></li>
                <li><a href="#"><i class="history-ico"> </i>History</a></li>
                <li><a href="#"><i class="logout-ico"> </i>Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="main-wrapper-deshboard">
        <div class="togbtn"><a href="javascript:void(0)" id="m-menu"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
        <div class="page-wrapper">
            <section class="search-validation-form  deshboard-page">
                <div class="outer-panel">
				<div class="ne-outerbox">
                    <h1>Let’s End Your Search Here!</h1>
                    <div class="inner-search-box-area">
                        <div class="dropdown">
                            <button class="dropdown-toggle domain-btn" data-toggle="dropdown" id="name-btn" type="button">By Domain</button>
                            <ul class="dropdown-menu drop-pannel">
                                <li id="bydomain">
                                    <a href="javascript:void(0)" class="bydom">By Domain</a>
                                </li>
                                <li id="bypropect">
                                    <a href="javascript:void(0)">By Prospect</a>
                                </li>
                                <li id="verifyemail">
                                    <a href="javascript:void(0)">Verify Email</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="search-panel" id="comanyname-search-field">
                        <div class="inner-s-panel">
                            <form name="myForm">
                                <div class="domain-t-field">
                                    <input class="com-name-txt" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'www.domain.com';}" ng-model="searchterm" name="searchterm" ng-pattern="domainFormat" required="" type="text">
                                    <input type="submit" value="search" ng-click="getItems()">
                                </div>
                                <span class="error" ng-show="myForm.searchterm.$error.required"> Required Domain Name</span>
                                <span class="error" ng-show="myForm.searchterm.$error.pattern">Please Enter valid Domain</span>
                            </form>
                        </div>
                        <p>Enter domain to find email addresses. For example, try <a href="#">domain.com</a> or <a href="#">name@company.com</a></p>
                    </div>
                    <div class="search-panel" id="prospect-search-field">
                        <div class="inner-s-panel">
                            <form name="prospectForm">
                                <div class="domain-t-field mobl-for">
                                    <ul class="divide-txt-field">
                                        <li>
                                            <input class="fullname-txt" ng-model="fullname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Full Name';}" required="" type="text" name="fullname">
                                            <span class="error" ng-show="prospectForm.fullname.$error.required"> Required Full Name </span>
                                        </li>
                                        <li>
                                            <input class="domain-txt" ng-model="domain" required="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'www.domain.com';}" type="text" name="domain" ng-pattern="domainFormat">
                                            <span class="error" ng-show="prospectForm.domain.$error.required"> Required Email </span>
                                            <span class="error" ng-show="prospectForm.domain.$error.pattern">Please Enter Valid domain</span>
                                        </li>
                                    </ul>
                                    <input type="submit" ng-click="getProspect()" value="search">
                                </div>
                            </form>
                        </div>
                        <p>Enter full name and Domain name to find professional email addresses. eg <a href="#">Steve Jobs</a> & <a href="#">apple.com</a></p>
                    </div>
                    <div class="search-panel" id="verifyemail-search-field">
                        <div class="inner-s-panel">
                            <form name="emailForm">
                                <div class="domain-t-field">
                                    <input class="verify-email-txt" ng-model="emailsearch" required="" ng-pattern="emailFormat" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'name@company.com';}" type="text" name="emailsearch">
                                    <span class="error" ng-show="emailForm.emailsearch.$error.required"> Required Email </span>
                                    <span class="error" ng-show="emailForm.emailsearch.$error.pattern">Please Enter Valid Email</span>
                                    <input type="submit" ng-click="getEmails()" value="search">
                                </div>
                            </form>
                        </div>
                        <p>Enter email address to verify whether it exists or not eg. <a href="#">name@company.com</a></p>
                    </div>
					</div>
                </div>
                <div class="validates-email-listing-block">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="inner-em-v-area" ng-show="accordianVisible">
                            <div class="find-email-main-wrapper">
                                <div class="sear-email-bloc">
                                    <ul class="s-heading-box">
                                        <li>
                                            <h4>Search Result By Domain</h4>
                                        </li>
                                        <li>
                                            <div class="find-emails-panel">
                                                <form>
                                                    <input class="search-result-txt" name="Search Result" placeholder="Find Some One in Search Result" type="text">
                                                    <input type="submit" value="search">
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="email-list-section mCustomScrollbar">
                                    <div class="acordation-bl">
                                        <div class="accordation-sec">
                                            <accordion-group ng-repeat="group in emailitems" is-open="group.open">
                                                <accordion-heading>
                                                    {{group.email}}
                                                    <div class="pull-right">
                                                       <p>{{group.count}} <span>Source</span></p>
                                                    </div>
                                                </accordion-heading>
                                                <ul class="find-mail-id">
                                                    <li ng-repeat="item in group.source">
                                                        <a href="{{item.url}}">{{item.url}}<span>{{item.date | date : "mediumDate"}}</span></a>
                                                    </li>
                                                </ul>
                                            </accordion-group>
                                        </div>
                                    </div>
                                    <div class="incate-info-area">
                                        <ul class="inner-indicate-txt do-int">
                                            <li>
                                                <p><i class="yellow-ic"><img class="img-responsive" src="images/green-r-ico.png"></i>Dummy text here</p>
                                            </li>
                                            <li>
                                                <p><i class="yellow-ic"><img class="img-responsive" src="images/yellow-r-ico.png"></i>Dummy text here</p>
                                            </li>
                                            <li>
                                                <p><i class="red-ic"><img class="img-responsive" src="images/red-c-icon.png"></i> Dummy text here</p>
                                            </li>
                                            <li>
                                                <p><i class="gray-ic"><img class="img-responsive" src="images/gray-r-ico.png"></i>Dummy text here</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <!--end inner-em-v-area-->
                        </div>
                        <div class="not-found-email" ng-show="errorVisible">
                            <h2>No email id found, try domain search</h2>
                        </div>
                        <div class="valid-mail-find-msg" ng-show="emailVisible">
                            <h2>{{validEmail}}</h2>
                            <div class="msg-valid">
                                <h3><i><img src="images/valid-mail-icon.png" class="img-responsive"></i>{{validEmailMessage}}</h3></div>
                            <div class="incate-info-area-v">
                                <ul class="inner-indicate-txt">
                                    <li>
                                        <p><i class="yellow-ic"><img class="img-responsive" src="images/green-r-ico.png"></i>Dummy text here</p>
                                    </li>
                                    <li>
                                        <p><i class="yellow-ic"><img class="img-responsive" src="images/yellow-r-ico.png"></i>Dummy text here</p>
                                    </li>
                                    <li>
                                        <p><i class="red-ic"><img class="img-responsive" src="images/red-c-icon.png"></i> Dummy text here</p>
                                    </li>
                                    <li>
                                        <p><i class="gray-ic"><img class="img-responsive" src="images/gray-r-ico.png"></i>Dummy text here</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end valid-mail-find-msg-->
                        <div class="search-result-here" ng-show="prospectVisible">
                            <div class="heading-title">
                                <h2>Prospect {{domain}}-{{fullname}}</h2>
                            </div>
                            <div class="result-email-data">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>{{firstName}} {{lastName}}</p>
                                            </td>
                                            <td>
                                                <a href="#">{{emailId}}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--end search-result-here-->
                    </div>
                    <!--end validates-email-listing-block-->
                    <div class="clear"></div>
            </section>
            <footer class="footer-deshboard">
                <div class="inner-footer-sec">
                    <p>© 2017 emailpill. All rights reserved. Terms of Use and Privacy Policy</p>
                </div>
            </footer>
            </div>
        </div>
        <script>
        var app = angular.module('myApp', ['ui.bootstrap']);
        app.controller('AccordionDemoCtrl', function($scope, $http) {
            $scope.searchterm = "www.domain.com";
            $scope.domainFormat = /([a-z0-9]+\.)*[a-z0-9]+\.[a-z]+/;
            $scope.emailsearch = "name@company.com";
            $scope.emailFormat = /\S+@\S+\.\S+/;
            $scope.domain = "www.domain.com";
            $scope.fullname = "Full Name";
            $scope.items = []

            $scope.getItems = function() {
                var searchDomain = ($scope.searchterm);
                // $scope.IsVisible = true;
                $http({
                        method: 'POST',
                        url: 'http://emapi.upliftlocal.com:1337/api/v1/find-domain-emails',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        data: $.param({
                            domain: searchDomain
                        })
                    })
                    .success(function(response) {

                        var error = 0;
                        if (response.error.err_code == 0) {

                            var headingemail = [];
                            var emailDetail = [];
                            for (var i = 0; i < response.email_id_detail.length; i++) {
                                var email = [];

                                var sourceDetailCount = response.email_id_detail[i].sources_detail.length;
                                for (var j = 0; j < sourceDetailCount; j++) {
                                    email.push({
                                        'url': response.email_id_detail[i].sources_detail[j].url,
                                        'date': response.email_id_detail[i].sources_detail[j].last_updated_on
                                    });
                                }
                                headingemail.push({
                                    'email': response.email_id_detail[i].email_id,
                                    'source': email,
                                    'count': email.length
                                });
                            }
                            $scope.emailitems = headingemail;
                            console.log('success');

                            $scope.items = emailDetail;
                            $scope.errorVisible = false;
                            $scope.accordianVisible = true;
                        } else {
                            $scope.accordianVisible = false;
                            $scope.errorVisible = true;
                            error = 1;
                        }

                    })
                    .error(function(data, status) {
                        console.log('error' + data + status);
                        $scope.accordianVisible = false;
                        $scope.errorVisible = true;
                    })

            }


            $scope.getEmails = function() {
                var searchEmail = ($scope.emailsearch);
                $scope.accordianVisible = false;
                $scope.errorVisible = false;
                $http({
                        method: 'POST',
                        url: 'http://emapi.upliftlocal.com:1337/api/v1/validate-email',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        data: $.param({
                            email_id: searchEmail
                        })
                    })
                    .success(function(response) {

                        var error = 0;
                        if (response.error.err_code == 0) {
                            $scope.validEmail = response.result.email_id;
                            $scope.validEmailMessage = 'Valid email address';

                        } else {
                            $scope.validEmail = searchEmail;
                            $scope.validEmailMessage = 'invalid email address';
                            error = 1;
                        }
                        $scope.emailVisible = true;
                        console.log('success');

                    })
                    .error(function(data, status) {
                        console.log('error');
                        $scope.validEmail = searchEmail;
                        $scope.validEmailMessage = 'invalid email address';
                        $scope.emailVisible = true;

                    })
            }
            $scope.getProspect = function() {
                var fullName = ($scope.fullname);
                var domain = ($scope.domain);
                fullName = fullName.split(" ");
                var firstName = fullName[0];
                var lastName = fullName[1];
                $scope.accordianVisible = false;
                $scope.errorVisible = false;
                $scope.emailVisible = false;
                $http({
                        method: 'POST',
                        url: 'http://emapi.upliftlocal.com:1337/api/v1/name-search',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        data: $.param({
                            first_name: firstName,
                            last_name: lastName,
                            domain: domain
                        })
                    })
                    .success(function(response) {

                        var error = 0;
                        if (response.error.err_code == 0) {
                            $scope.firstName = response.result.first_name;
                            $scope.lastName = response.result.last_name;
                            $scope.emailId = response.result.email_id;

                        } else {
                            $scope.firstName = firstName;
                            $scope.lastName = lastName;
                            $scope.emailId = 'not-found-email';
                            error = 1;
                        }
                        $scope.prospectVisible = true;
                        console.log('success');

                    })
                    .error(function(data, status) {
                        console.log('error');
                        $scope.firstName = firstName;
                        $scope.lastName = lastName;
                        $scope.emailId = 'not-found-email';
                        $scope.prospectVisible = true;

                    })
            }
        })
        </script>
        </script>
        <!-- Google CDN jQuery with fallback to local -->
        <script>
        window.jQuery || document.write('<script src="../js/minified/jquery-1.11.0.min.js"><\/script>')
        </script>
        <!-- custom scrollbar plugin -->
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script>
        (function($) {
            $(window).load(function() {

                $("a[rel='load-content']").click(function(e) {
                    e.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url, function(data) {
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo", "h2:last");
                    });
                });

                $(".content").delegate("a[href='top']", "click", function(e) {
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo", $(this).attr("href"));
                });

            });
        })(jQuery);
        </script>
</body>

</html>
